body, html {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 10px;
  padding: 10px;
}

li {
  display: inline;
  float: right;
  margin-right: 10px;
  margin-top: 0;
  font-family: arial, sans-serif;
  font-size: 13;

}

li img {
  margin-top: -5;
}

li a {
  color: rgba(0,0,0,0.87);
}

.nav a:hover {
  text-decoration: underline;
}

.logo img {
  display: block;
 margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 30px;
}

.buttons {
  display: block;
  position: relative;
  margin-bottom: -72;
  margin: 0 auto;
}

.button_1 {
	position: absolute;
	left: 600;
}

.button_2 {
	position: absolute;
	left: 750;
}



.button_1 input, .button_2 input {
  background-color: #f2f2f2;
  background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  color: #757575;
  cursor: default;
  font-family: arial,sans-serif;
  font-size: 13px;
  font-weight: bold;
  margin: 11px 4px;
  min-width: 54px;
  padding: 10 16px;
  text-align: center;
}

.search {
  position: relative;
}
.search input {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  position: relative;
  width: 631;
  height: 43;
  font-size: 16;
  color: #222;
  font-family: arial,sans-serif;
  padding-left: 15;
  border-style: none;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  background: #fff;
  border-radius: 2px;
}

.search img {
  position: absolute;
  left: 1000;
  bottom: 10;
}

.search input:hover {
  box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2),
  0 0 0 1px rgba(0,0,0,0.8);
}

input[type=text] {
  width: 528px;
  padding: 10px 10px;
  box-shadow: white;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	margin-bottom: 0;
	padding-bottom: 0;
}

.country {
	color: rgba(0,0,0,.54);
	font-family: arial, sans-serif;
	font-size:15px;
	line-height: 40px;
	padding: 10 40;
	background: #f2f2f2;
	display: block;
	border-top: 1px solid #e4e4e4;
	padding: 0 30;
}

.footer ul {
	list-style-type: none;
	background: #f2f2f2;
	padding-bottom: 20;
	margin: 0;
	display: block;
	border-top: 1px solid #e4e4e4;
}

.footer li {
	color: rgba(0,0,0,.54);
	font-family: arial, sans-serif;
	font-size: 13px;
	background: #f2f2f2;
	float: left;
	padding: 10 15;
}

#privacy {
	float: right;
}

.footer li:hover {
	text-decoration: underline;
	cursor: pointer;
}